<div class="border-bottom border-2 border-dark">
    <div class="container py-5">
        <div class="row">
            <div class="col text-center py-1 py-md-5">
                <h2 class="display-1"> Research & Compare.</h2>
                <p class="fs-4 lh-1 text-muted fw-500 pb-5 text-success">
                    The smartphone that you want to buy....
                </p>
            </div>
            <!-- <div id="autocomplete" class="autocomplete col-md-6 py-1 py-md-5 text-center text-md-start">
                <input class="autocomplete-input" type="text" placeholder="Search"/>
                <ul class="autocomplete-result-list">

                </ul>
            </div> -->
            <div id="autocomplete" class="autocomplete">
                <input class="autocomplete-input" />
                <ul class="autocomplete-result-list"></ul>
            </div>
        </div>
    </div>
</div>
